/* This CSS is common to all pages

body {
  margin: 0;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.navitem {
  padding: 3px 10px;
}
.navitem.is-active {
  background-color: #eee;
} */

.cls-1 {
  font-family: TimesNewRomanPS-BoldMT, "Times New Roman";
  font-size: 185px;
  font-weight: 700;
}

.cls-1,
.cls-2 {
  fill: hsl(var(--foreground));
}

.cls-2,
.cls-3,
.cls-4,
.cls-5 {
  stroke: hsl(var(--foreground));
}

.cls-2,
.cls-4 {
  stroke-width: 7;
  shape-rendering: geometricprecision;
}

.cls-3,
.cls-4 {
  fill: none;
}

.cls-3,
.cls-5 {
  stroke-width: 5;
  shape-rendering: geometricprecision;
}

.cls-6 {
  letter-spacing: 0.24em;
  user-select: none;
}

.cls-5 {
  fill: hsl(var(--background));
}

.cls-7 {
  letter-spacing: 0.19em;
}

.logo > div > svg {
  width: 60px;
  padding: 4px;
}
.logo > div {
  scale: 1;
}

.logo {
  max-width: 60px;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 45px;
}

path,
rect,
line polyline,
circle {
  shape-rendering: geometricprecision !important;
}

/* IssueListPage styling */
.issue-page h1 {
  font-size: 30px;
  margin-top: 15px;
  margin-left: 20px;
  font-weight: 700;
}

.issue-page p {
  margin-left: 20px;
  color: rgb(82, 79, 79);
}

.issue-page hr {
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  margin-right: 80px;
  margin-bottom: 10px;
}

.issue-box {
  display: block;
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  margin-left: 20px;
  margin-right: 80px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-size: 1.5em;
}

.issue-box p {
  margin: 0;
}

.issue-box p:last-child {
  font-size: 0.7em;
  color: rgb(82, 79, 79);
}

.journal-details {
  background: rgba(0, 0, 0, 0.2);
  padding: 35px 20px 20px 20px;
  border-radius: 4px;
  margin: 20px 0;
}

.author-text {
  font-size: 16px;
}

.title-text {
  font-size: 1em;
  font-weight: bold;
}

.routing-link {
  margin-left: 20px;
}
.editor-text {
}
